.btn-search {
  margin-left: 1rem;
}
.main__form {
  justify-content: center;
}
.form-group {
  display: flex;
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  padding: 1rem;
}
.form__container_checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 19rem;
  flex-basis: 1;
  bottom: 0;
  margin-left: 2rem;
}
// .form-check-radio-button {
//   display: flex;
// }
