.logo_card {
  width: 350px;
  border: 1px solid rgb(235, 233, 233);
  box-shadow: 0 0 5px 2px rgb(228, 226, 226);
  margin: 7px;
  border-radius: 4px;
  overflow: hidden;
}

.logo {
  height: 100px;
  width: 150px;
  background-image: cover;
}

.logo_card-inner {
  padding: 10px;
}
