.logo_card {
  width: 20rem;
  border: 1px solid rgb(235, 233, 233);
  box-shadow: 0 0 5px 2px rgb(228, 226, 226);
  margin: 7px;
  border-radius: 1px;
  overflow: hidden;
}

.logo {
  height: 8rem;
  width: 13rem;
}

.logo_card-inner {
  padding: 10px;
}
